html, body {
    height: 100%;
}

body {
    margin: 0 15%;
    background-color: bisque;
}

.content {
    height: 100%;
    background-color: rgb(255, 248, 215);
    padding: auto;
}

.food {
    display: block;
    text-align: center;
    font-size: 300px;
}

h1, h3, .food, .description{
    color: rgb(223, 113, 113);
}

h1, h3, .recipe, .description {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.description {
    margin-bottom: 100px;
}

.recipe-list {
    padding-left: 0;
}

.recipe {
    font-family: "Courier New", sans-serif;
    list-style-type: none;
    margin: 25px;
}
